html, body { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	font-family: sans-serif, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}